Export_NodeRed
[{"id":"a5513d5d.50f5b","type":"tab","label":"Detection CHat","disabled":false,"info":""},{"id":"496cc6f2.e45238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"564d178d.a69ce8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fd589d14.7b0d1","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9cf3a6d.1104258","type":"tab","label":"Raspberry monitoring","disabled":false,"info":""},{"id":"66fd3cfd.ee1554","type":"mqtt-broker","name":"Broker raspberry pi","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8de4f2e6.c211e","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.26","key":"wwp2Pyhvwu8WmgOl9QrtkuL8Ups-UnH2hOcTIMTq","interval":"3000","disableupdates":false},{"id":"9b62ae06.41df5","type":"ui_tab","name":"Nb_Detection_Chat","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"29dd0b3f.23de74","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"985ecbc7.67a138","type":"websocket-listener","z":"564d178d.a69ce8","path":"/ws/simple","wholemsg":"false"},{"id":"9cb4bc4d.96552","type":"ui_group","name":"System","tab":"ad4a1223.94ae8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd70abe0.14cb38","type":"ui_group","name":"OS","tab":"ad4a1223.94ae8","order":5,"disp":true,"width":"6","collapse":false},{"id":"14bc5267.4d798e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"raspberry_do_gama_alive","birthQos":"0","birthRetain":"true","birthPayload":"Raspberry ativo","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad4a1223.94ae8","type":"ui_tab","z":"9cf3a6d.1104258","name":"Raspbery PI (Control Panel)","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c39cfd51.14f1c","type":"ui_group","name":"camFoscam","tab":"250de740.57ee78","order":13,"disp":true,"width":"6","collapse":true},{"id":"250de740.57ee78","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"72677919.fa13b","type":"ui_group","name":"Statut_Fontaine","tab":"9b62ae06.41df5","order":1,"disp":true,"width":15,"collapse":false},{"id":"841ddfa0.272738","type":"ui_group","name":"Activity_Fountain","tab":"9b62ae06.41df5","order":2,"disp":true,"width":15,"collapse":false},{"id":"31cce242.de253e","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"27e3aeec.8a500a","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"bd3dc0.2d2bba4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"bf21f355.2769c","type":"mqtt in","z":"a5513d5d.50f5b","name":"","topic":"Maison/ArriereCuisine/Mouvement","qos":"2","datatype":"auto","broker":"66fd3cfd.ee1554","nl":false,"rap":true,"rh":0,"x":400,"y":1120,"wires":[["fb72ac41.3d873","280beaf8.fdf3b6","3502a50e.ef91ca"]]},{"id":"fb72ac41.3d873","type":"debug","z":"a5513d5d.50f5b","name":"Debug_MQQT_Message","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":770.9999923706055,"y":872.000020980835,"wires":[]},{"id":"8cd18e.eaebee7","type":"camerapi-takephoto","z":"a5513d5d.50f5b","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"","x":920,"y":1620,"wires":[["5ababe66.1513d","29ad3cd0.642544"]]},{"id":"280beaf8.fdf3b6","type":"delay","z":"a5513d5d.50f5b","name":"Limiter_les_photos","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":1280,"wires":[["814c5fe5.165e1","94a5684.1d37098"]]},{"id":"6f9ff52c.b92bbc","type":"function","z":"a5513d5d.50f5b","name":"isObjectDetected","func":"let catDetected = false;\nlet compteur =0;\ncompteur=flow.get('compteur')||0;\n\nfor (let object of msg.payload) {\n    if (object.class === 'cat') {\n        catDetected = true;\n        compteur = 3;\n        break;\n    }\n}\n\nif (catDetected === false)\n{\n    compteur=compteur-1;\n}\n\nvar d = new Date();\n\nmsg.payload ={\n    \"filepath\" : msg.filepath,\n    \"filename\" : msg.filename,\n    \"classes\": msg.classes,\n    \"catDetected\": catDetected,\n    \"compteur\": compteur,\n    \"date\":d,\n    }\nflow.set('compteur',compteur);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1680,"wires":[["14fe8fb4.758be","f4177126.118a5","415d8309.680fac"]]},{"id":"14fe8fb4.758be","type":"switch","z":"a5513d5d.50f5b","name":"","property":"payload.compteur","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":1460,"wires":[["c552449e.0d9268"],["bb844a7a.b00ff8"]]},{"id":"64d39b46.da09e4","type":"comment","z":"a5513d5d.50f5b","name":"Iteration PHOTO si Détection mouvement","info":"","x":1280,"y":1500,"wires":[]},{"id":"4dbf5071.e80f4","type":"hue-bridge-node","z":"a5513d5d.50f5b","name":"","bridge":"8de4f2e6.c211e","autoupdates":true,"skipglobalevents":false,"x":1810,"y":920,"wires":[["fe79fd02.c4197"]]},{"id":"fe79fd02.c4197","type":"hue-light","z":"a5513d5d.50f5b","name":"Prise pour le chat","bridge":"8de4f2e6.c211e","lightid":"6","colornamer":false,"skipevents":false,"universalevents":false,"x":2070,"y":1020,"wires":[["d32e2dfe.b3ee1","bd765449.8fea58"]],"outputLabels":["msg.status"]},{"id":"afe3bbc0.b3f078","type":"fs-ops-delete","z":"a5513d5d.50f5b","d":true,"name":"Delete","path":"filepath","pathType":"msg","filename":"filename","filenameType":"msg","x":1970,"y":2720,"wires":[[]]},{"id":"f6844bf5.2a7e98","type":"debug","z":"a5513d5d.50f5b","name":"TriggerMessage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1460,"y":920,"wires":[]},{"id":"63a36453.25320c","type":"function","z":"a5513d5d.50f5b","name":"Nb_Photo","func":"value = flow.get('Nb_photo_prise')||0;\nvalue++;\nflow.set('Nb_photo_prise',value);\nreturn {payload : value};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2660,"wires":[["98b404d8.fa6448"]]},{"id":"c9da4402.d219f8","type":"function","z":"a5513d5d.50f5b","name":"Nb_detection_chat","func":"value = flow.get('Nb_détection_chat')||0;\n\nif (msg.payload.catDetected === true)\n{\n    value++;\n}\n\n\n\nflow.set('Nb_détection_chat',value);\nreturn {payload : value};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2560,"wires":[["4435150c.c007ec"]]},{"id":"d2031f3b.6d96c","type":"inject","z":"a5513d5d.50f5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":1280,"wires":[["280beaf8.fdf3b6"]]},{"id":"4435150c.c007ec","type":"ui_chart","z":"a5513d5d.50f5b","name":"Nb_detection_chat","group":"72677919.fa13b","order":2,"width":15,"height":9,"label":"Nb Detection Chat","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1975,"y":2560,"wires":[[]],"l":false},{"id":"3c6316ad.edadba","type":"debug","z":"a5513d5d.50f5b","name":"Debug_Tfjs_Detection_v2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"classes","statusType":"msg","x":1590,"y":1960,"wires":[]},{"id":"98b404d8.fa6448","type":"ui_chart","z":"a5513d5d.50f5b","name":"Nb_Photo","group":"841ddfa0.272738","order":2,"width":15,"height":9,"label":"Nb Activation photo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#57b757","#98df8a","#a64e4e","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2020,"y":2660,"wires":[[]]},{"id":"cec7de41.e547e","type":"function","z":"a5513d5d.50f5b","name":"Temps_chat","func":"if (msg.payload.on===undefined) {\n    value=0;\n} else {\n    if (msg.payload.on===true) {\n        value=1;\n    }else{\n        value=0;\n    }\n}\nreturn {payload : value};\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is starte","finalize":"","libs":[],"x":1770,"y":2480,"wires":[["46f64611.4defc8"]]},{"id":"814c5fe5.165e1","type":"change","z":"a5513d5d.50f5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1020,"wires":[["f6844bf5.2a7e98","fe79fd02.c4197","1e5979b4.9471b6"]]},{"id":"bb844a7a.b00ff8","type":"function","z":"a5513d5d.50f5b","name":"","func":"msg.payload=false;\nmsg.topic=\"DetectionChat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":1080,"wires":[["fe79fd02.c4197"]]},{"id":"c552449e.0d9268","type":"delay","z":"a5513d5d.50f5b","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":1300,"wires":[["8cd18e.eaebee7"]]},{"id":"f4177126.118a5","type":"couchdbinsert","z":"a5513d5d.50f5b","name":"","serverUrl":"http://127.0.0.1:5984","database":"detection_chat","x":2080,"y":1680,"wires":[]},{"id":"d32e2dfe.b3ee1","type":"debug","z":"a5513d5d.50f5b","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2330,"y":900,"wires":[]},{"id":"7e227af7.633ba4","type":"image","z":"a5513d5d.50f5b","name":"","width":160,"data":"image","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1540,"y":1780,"wires":[]},{"id":"5ababe66.1513d","type":"tensorflowCoco","z":"a5513d5d.50f5b","name":"","modelUrl":"http://localhost:1880/coco/model.json","scoreThreshold":"0.3","passthru":"bbox","lineColour":"magenta","x":1150,"y":1680,"wires":[["6f9ff52c.b92bbc","7e227af7.633ba4","3c6316ad.edadba"]]},{"id":"315d2cf9.fe9c54","type":"inject","z":"496cc6f2.e45238","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"Maison/ArriereCuisine/Mouvement\",\"payload\":[{\"bbox\":[316.92670822143555,-5.945792198181152,224.15674209594727,446.01346492767334],\"class\":\"person\",\"score\":0.896903395652771}],\"qos\":0,\"retain\":false,\"_topic\":\"Maison/ArriereCuisine/Mouvement\",\"_msgid\":\"a10a3b51.6cfe08\",\"filename\":\"pic_545882c3-c796-42a6-b9c5-9c1b38ae7641.jpg\",\"filepath\":\"/home/pi/Pictures/\",\"fileformat\":\"jpeg\",\"image\":[255,216,255,224,0,16,74,70,73,70,0,1,1,0,0,1,0,1,0,0,255,219,0,132,0,10,7,7,8,7,6,10,8,8,8,11,10,10,11,14,24,16,14,13,13,14,29,21,22,17,24,35,31,37,36,34,31,34,33,38,43,55,47,38,41,52,41,33,34,48,65,49,52,57,59,62,62,62,37,46,68,73,67,60,72,55,61,62,59,1,10,11,11,14,13,14,28,16,16,28,59,40,34,40,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,255,192,0,17,8,1,224,2,128,3,1,17,0,2,17,1,3,17,1,255,196,1,162,0,0,1,5,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,16,0,2,1,3,3,2,4,3,5,5,4,4,0,0,1,125,1,2,3,0,4,17,5,18,33,49,65,6,19,81,97,7,34,113,20,50,129,145,161,8,35,66,177,193,21,82,209,240,36,51,98,114,130,9,10,22,23,24,25,26,37,38,39,40,41,42,52,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,225,226,227,228,229,230,231,232,233,234,241,242,243,244,245,246,247,248,249,250,1,0,3,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,17,0,2,1,2,4,4,3,4,7,5,4,4,0,1,2,119,0,1,2,3,17,4,5,33,49,6,18,65,81,7,97,113,19,34,50,129,8,20,66,145,161,177,193,9,35,51,82,240,21,98,114,209,10,22,36,52,225,37,241,23,24,25,26,38,39,40,41,42,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,130,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,226,227,228,229,230,231,232,233,234,242,243,244,245,246,247,248,249,250,255,218,0,12,3,1,0,2,17,3,17,0,63,0,242,66,89,228,44,236,89,152,228,146,114,73,162,77,201,221,178,100,229,41,55,45,89,169,225,253,53,245,77,90,11,101,7,150,249,189,133,116,97,169,169,79,93,140,230,237,27,158,235,107,2,65,108,145,42,252,177,168,3,21,115,151,52,174,114,197,89,15,110,167,21,153,94,101,121,27,189,48,41,204,195,110,123,210,216,101,25,13,49,219,82,179,242,105,20,202,23,114,0,88,246,94,5,75,101,88,75,72,246,195,188,253,230,230,157,173,160,75,81,238,78,13,33,223,66,171,252,205,138,66,49,117,137,60,198,88,19,172,135,104,199,167,122,159,137,216,181,181,204,205,101,149,239,224,177,143,253,93,170,124,223,239,30,77,13,222,109,244,28,85,163,234,98,78,254,100,204,115,199,65,89,238,90,211,115,103,74,135,203,183,50,31,226,164,244,41,13,212,31,113,88,71,87,53,42,55,101,55,161,42,168,84,10,58,1,79,112,75,160,17,218,128,10,0,74,0,49,64,194,128,3,214,129,52,40,160,98,208,1,201,166,0,58,208,3,148,80,4,136,59,81,97,19,160,20,192,148,82,176,92,200,213,230,218,173,207,181,75,87,26,238,97,238,247,171,177,34,238,231,129,154,105,1,60,22,151,87,4,8,227,60,247,52,54,150,172,4,186,180,150,214,115,20,167,144,59,86,137,38,9,16,199,60,144,54,84,228,122,84,181,112,52,237,175,146,80,1,225,170,44,209,72,217,181,141,102,178,96,221,60,208,79,228,107,175,108,19,255,0,18,252,153,233,83,87,193,63,241,47,201,149,110,237,176,14,0,197,121,135,51,86,216,173,107,167,180,239,144,164,129,78,227,81,187,54,236,180,38,99,157,167,158,216],\"maxDetections\":40,\"shape\":[480,640,3],\"classes\":{\"person\":1},\"scoreThreshold\":\"0.3\"}","payloadType":"json","x":280,"y":280,"wires":[["ac0dbb96.9174c8"]]},{"id":"d551151c.cf92a8","type":"debug","z":"496cc6f2.e45238","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":540,"wires":[]},{"id":"ac0dbb96.9174c8","type":"function","z":"496cc6f2.e45238","name":"Extraction","func":"msg.payload ={\n    \"filepath\" : msg.payload.filepath,\n    \"filename\" : msg.payload.filename,\n    \"image\": msg.payload.image,\n    \"classes\": msg.payload.classes,\n    }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":500,"wires":[["d551151c.cf92a8"]]},{"id":"e59e357b.532e58","type":"inject","z":"496cc6f2.e45238","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_msgid\":\"1359b3a5.e16a8c\",\"payload\":[{\"bbox\":[245.0220489501953,257.5080871582031,217.703857421875,219.44835662841797],\"class\":\"toilet\",\"score\":0.5527507066726685}],\"topic\":\"\",\"filename\":\"pic_b6a4c78e-897a-4207-9fe4-56607047469b.jpg\",\"filepath\":\"/home/pi/Pictures/\",\"fileformat\":\"jpeg\",\"image\":[255,216,255,224,0,16,74,70,73,70,0,1,1,0,0,1,0,1,0,0,255,219,0,132,0,10,7,7,8,7,6,10,8,8,8,11,10,10,11,14,24,16,14,13,13,14,29,21,22,17,24,35,31,37,36,34,31,34,33,38,43,55,47,38,41,52,41,33,34,48,65,49,52,57,59,62,62,62,37,46,68,73,67,60,72,55,61,62,59,1,10,11,11,14,13,14,28,16,16,28,59,40,34,40,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,255,192,0,17,8,1,224,2,128,3,1,17,0,2,17,1,3,17,1,255,196,1,162,0,0,1,5,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,16,0,2,1,3,3,2,4,3,5,5,4,4,0,0,1,125,1,2,3,0,4,17,5,18,33,49,65,6,19,81,97,7,34,113,20,50,129,145,161,8,35,66,177,193,21,82,209,240,36,51,98,114,130,9,10,22,23,24,25,26,37,38,39,40,41,42,52,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,225,226,227,228,229,230,231,232,233,234,241,242,243,244,245,246,247,248,249,250,1,0,3,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9,10,11,17,0,2,1,2,4,4,3,4,7,5,4,4,0,1,2,119,0,1,2,3,17,4,5,33,49,6,18,65,81,7,97,113,19,34,50,129,8,20,66,145,161,177,193,9,35,51,82,240,21,98,114,209,10,22,36,52,225,37,241,23,24,25,26,38,39,40,41,42,53,54,55,56,57,58,67,68,69,70,71,72,73,74,83,84,85,86,87,88,89,90,99,100,101,102,103,104,105,106,115,116,117,118,119,120,121,122,130,131,132,133,134,135,136,137,138,146,147,148,149,150,151,152,153,154,162,163,164,165,166,167,168,169,170,178,179,180,181,182,183,184,185,186,194,195,196,197,198,199,200,201,202,210,211,212,213,214,215,216,217,218,226,227,228,229,230,231,232,233,234,242,243,244,245,246,247,248,249,250,255,218,0,12,3,1,0,2,17,3,17,0,63,0,243,52,25,52,204,210,73,104,116,254,9,209,27,89,215,237,237,246,229,3,110,115,232,5,116,81,74,238,111,100,55,238,163,232,104,209,98,141,99,65,133,81,128,61,5,115,54,228,238,202,74,194,210,0,160,3,56,25,160,10,242,183,25,173,34,140,100,202,78,119,156,86,200,200,202,212,39,25,118,29,16,96,84,182,90,27,167,67,229,218,249,140,48,207,201,171,181,149,132,221,201,37,32,142,42,88,202,46,55,62,5,34,142,119,95,148,207,34,90,199,247,165,96,131,30,157,234,109,205,36,134,150,134,7,138,101,75,157,122,215,75,139,30,78,155,16,223,255,0,93,15,39,242,224,80,228,157,70,250,34,151,193,119,212,227,181,25,205,197,252,142,15,202,14,7,210,177,189,245,52,74,199,65,161,219,249,86,102,67,213,233,61,139,87,99,117,105,11,4,182,83,204,141,207,210,162,218,216,125,9,85,66,32,81,208,12,83,97,113,62,180,128,74,96,2,128,23,190,5,0,46,5,0,40,20,192,80,40,1,64,239,64,11,64,14,199,165,0,72,162,152,137,80,115,64,22,227,28,83,17,58,138,0,231,252,67,114,177,197,33,39,143,186,42,29,219,177,107,99,152,87,92,103,112,170,21,181,20,92,115,132,5,143,160,170,81,99,212,183,107,99,168,222,176,17,68,80,30,228,83,124,177,213,176,25,127,167,92,216,93,188,23,18,124,234,51,144,107,120,40,189,132,174,85,130,254,230,198,77,200,229,151,208,214,114,130,101,92,233,52,237,102,11,197,3,59,95,184,53,139,86,38,197,233,157,124,179,154,64,83,21,37,14,0,83,1,69,2,37,65,64,19,47,2,152,18,173,0,60,15,74,0,112],\"maxDetections\":40,\"shape\":[480,640,3],\"classes\":{\"toilet\":1},\"scoreThreshold\":\"0.3\"}","payloadType":"json","x":300,"y":740,"wires":[["3d241f4b.c2601","26959f0e.4f0e5","85788e7d.72e2f"]]},{"id":"3d241f4b.c2601","type":"function","z":"496cc6f2.e45238","name":"isObjectDetected","func":"let catDetected = false;\nlength()\nfor (let object1 of msg.payload) {\n    if (object1.classes === 'person') {\n        catDetected = true;\n        break;\n    }\n}\n\nObject.defineProperty(msg.payload,'catDetected',{\n    value: catDetected,\n    writable: false\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":740,"wires":[["45513522.0f28cc"]]},{"id":"45513522.0f28cc","type":"function","z":"496cc6f2.e45238","name":"Extraction","func":"msg.payload ={\n    \"filepath\" : msg.payload.filepath,\n    \"filename\" : msg.payload.filename,\n    \"image\": msg.payload.image,\n    \"classes\": msg.payload.classes,\n    }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":740,"wires":[["8955dfe2.b83d6"]]},{"id":"8955dfe2.b83d6","type":"debug","z":"496cc6f2.e45238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":740,"wires":[]},{"id":"26959f0e.4f0e5","type":"debug","z":"496cc6f2.e45238","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":640,"wires":[]},{"id":"85788e7d.72e2f","type":"function","z":"496cc6f2.e45238","name":"","func":"\nvar msg= msg.payload.length();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":860,"wires":[["37e8e955.d1e346"]]},{"id":"37e8e955.d1e346","type":"debug","z":"496cc6f2.e45238","name":"test2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":860,"wires":[]},{"id":"b4d9e1b5.51eb","type":"trigger","z":"a5513d5d.50f5b","d":true,"name":"","op1":"PictureFileName","op2":"","op1type":"flow","op2type":"nul","duration":"250","extend":false,"overrideDelay":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1740,"y":2720,"wires":[["afe3bbc0.b3f078"]]},{"id":"a8e4c2be.38f22","type":"join","z":"a5513d5d.50f5b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":2500,"wires":[["9ee81822.e09868"]]},{"id":"b274e276.7c1a6","type":"function","z":"a5513d5d.50f5b","name":"Topic_Etat_fontainte","func":"msg.topic=\"EtatFontaine\";\nmsg.payload =msg.payload;\nmsg.complete;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2440,"wires":[["a8e4c2be.38f22"]]},{"id":"9ee81822.e09868","type":"debug","z":"a5513d5d.50f5b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":2500,"wires":[]},{"id":"9e18c1d.07e104","type":"function","z":"a5513d5d.50f5b","name":"","func":"msg.payload=msg.payload.catDetected;\nmsg.topic=\"DetectionChat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2640,"wires":[["ca8e7aea.949e58"]]},{"id":"ca8e7aea.949e58","type":"join","z":"a5513d5d.50f5b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":2520,"wires":[["a8e4c2be.38f22"]]},{"id":"94a5684.1d37098","type":"change","z":"a5513d5d.50f5b","name":"","rules":[{"t":"set","p":"compteur","pt":"flow","to":"3","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1460,"wires":[["8cd18e.eaebee7"]]},{"id":"391bc53d.2fc50a","type":"function","z":"a5513d5d.50f5b","name":"Nb_detection_mvt","func":"value = flow.get('Nb_detection_mvt')||0;\nvalue++;\nflow.set('Nb_detection_mvt',value);\nreturn {payload : value};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":2840,"wires":[["e09057fb.7369c8"]]},{"id":"e09057fb.7369c8","type":"ui_chart","z":"a5513d5d.50f5b","name":"Nb_detection_mvt","group":"72677919.fa13b","order":1,"width":15,"height":9,"label":"Nb_detection_mvt","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#57b757","#98df8a","#a64e4e","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1990,"y":2840,"wires":[[]]},{"id":"e3e4522e.1c1bb","type":"inject","z":"564d178d.a69ce8","name":"Tick every 5 secs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"","topic":"test","payload":"","payloadType":"date","x":1030,"y":700,"wires":[["45dbf990.ba2408"]]},{"id":"50da04b3.af25fc","type":"websocket out","z":"564d178d.a69ce8","name":"","server":"985ecbc7.67a138","client":"","x":1430,"y":700,"wires":[]},{"id":"42a28745.bd5d78","type":"http response","z":"564d178d.a69ce8","name":"","statusCode":"","headers":{},"x":1401,"y":640,"wires":[]},{"id":"1787be40.e87842","type":"http in","z":"564d178d.a69ce8","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":1032,"y":640,"wires":[["1857548e.e7a8ab"]]},{"id":"1857548e.e7a8ab","type":"template","z":"564d178d.a69ce8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":1229,"y":640,"wires":[["42a28745.bd5d78"]]},{"id":"45dbf990.ba2408","type":"function","z":"564d178d.a69ce8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":700,"wires":[["50da04b3.af25fc"]]},{"id":"eccc8bc2.133378","type":"websocket in","z":"564d178d.a69ce8","name":"","server":"985ecbc7.67a138","client":"","x":1217,"y":752,"wires":[["9adfff59.652"]]},{"id":"9adfff59.652","type":"debug","z":"564d178d.a69ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1407,"y":752,"wires":[]},{"id":"d4feb199.b898b","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","x":608,"y":33,"wires":[],"l":false},{"id":"c0682e5c.a4fc","type":"exec","z":"9cf3a6d.1104258","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":325.2221908569336,"y":46.33333683013916,"wires":[["95ae4c48.9f606"],[],[]]},{"id":"2be04c82.d0af74","type":"inject","z":"9cf3a6d.1104258","name":"","repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":107.49996185302734,"y":46.805556297302246,"wires":[["c0682e5c.a4fc","92285ea6.f97a7","c0ffe68.afd6e18"]]},{"id":"95ae4c48.9f606","type":"function","z":"9cf3a6d.1104258","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":471.888858795166,"y":33.00000190734863,"wires":[["d4feb199.b898b","4bae8072.e81c2"]]},{"id":"f4592b30.2f0528","type":"ui_button","z":"9cf3a6d.1104258","name":"","group":"dd70abe0.14cb38","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.66669464111328,"y":330.0000696182251,"wires":[["cf3854e6.653878"]]},{"id":"cf3854e6.653878","type":"exec","z":"9cf3a6d.1104258","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":314.888916015625,"y":330.0000457763672,"wires":[[],[],[]]},{"id":"4b4a0861.092b28","type":"ui_button","z":"9cf3a6d.1104258","name":"","group":"dd70abe0.14cb38","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":104.27777099609375,"y":386.47229862213135,"wires":[["4de9dba1.ed7854"]]},{"id":"4de9dba1.ed7854","type":"exec","z":"9cf3a6d.1104258","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":324.1666564941406,"y":386.6944923400879,"wires":[[],[],[]]},{"id":"4bae8072.e81c2","type":"ui_chart","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":5,"width":"6","height":"4","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":683.9999389648438,"y":72.66667175292969,"wires":[[]]},{"id":"92285ea6.f97a7","type":"exec","z":"9cf3a6d.1104258","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":325.2221908569336,"y":126.33333683013916,"wires":[["404f06.1e77b0fc"],[],[]]},{"id":"c0ffe68.afd6e18","type":"exec","z":"9cf3a6d.1104258","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":325.2222099304199,"y":190.55557250976562,"wires":[["8cf70ed5.e49ec"],[],[]]},{"id":"404f06.1e77b0fc","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":4,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645.111083984375,"y":114.11111450195312,"wires":[]},{"id":"8cf70ed5.e49ec","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":2,"width":"3","height":"3","gtype":"gage","title":"Memory free","label":"%","format":"{{parseInt(value)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":663.3333320617676,"y":176.55556392669678,"wires":[]},{"id":"a508a5b7.89a128","type":"exec","z":"9cf3a6d.1104258","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":322.88884353637695,"y":258.2222442626953,"wires":[["a8dc2f34.5e32b"],[],[]]},{"id":"ad4498e0.e7c278","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":3,"width":"3","height":"3","gtype":"gage","title":"Disk Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":661.1110496520996,"y":244.88890743255615,"wires":[]},{"id":"a8dc2f34.5e32b","type":"function","z":"9cf3a6d.1104258","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470.66661071777344,"y":244.88890171051025,"wires":[["ad4498e0.e7c278"]]},{"id":"5e6e69bb.0e1d38","type":"inject","z":"9cf3a6d.1104258","name":"","repeat":"60","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":122.88884353637695,"y":258.2222442626953,"wires":[["a508a5b7.89a128"]]},{"id":"620c2ccf.7c7584","type":"ui_text","z":"9cf3a6d.1104258","group":"dd70abe0.14cb38","order":2,"width":"6","height":"2","name":"","label":"IP Address","format":"{{value.substring(0, value.indexOf(\" \"))}}","layout":"col-center","x":661.555591583252,"y":430.8889102935791,"wires":[]},{"id":"19fadb42.3d0c25","type":"inject","z":"9cf3a6d.1104258","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":118.90821075439453,"y":445.567081451416,"wires":[["9cce8e0f.766f7"]]},{"id":"9cce8e0f.766f7","type":"exec","z":"9cf3a6d.1104258","command":"hostname","addpay":false,"append":"-I","useSpawn":"","timer":"","name":"Get Local IP","x":323.4637641906738,"y":446.06709480285645,"wires":[["b1e5e669.f1fd48","620c2ccf.7c7584"],[],[]]},{"id":"b1e5e669.f1fd48","type":"mqtt out","z":"9cf3a6d.1104258","name":"Send IP thru MQTT","topic":"raspberrypi3_ip_gama","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"14bc5267.4d798e","x":680.6859703063965,"y":380.34489250183105,"wires":[]},{"id":"3a1bff0b.55d3c","type":"ui_template","z":"fd589d14.7b0d1","d":true,"group":"c39cfd51.14f1c","name":"","order":1,"width":"6","height":"6","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1300,"y":700,"wires":[[]]},{"id":"bc137f20.f932b","type":"function","z":"fd589d14.7b0d1","name":"msg.filename","func":"msg.filename = \"/home/pi/Pictures/off.png\";\nreturn msg;\n    \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":700,"wires":[["4757d887.183fc8"]]},{"id":"ee87f65b.9f4398","type":"inject","z":"fd589d14.7b0d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":410,"y":700,"wires":[["bc137f20.f932b"]]},{"id":"4757d887.183fc8","type":"file in","z":"fd589d14.7b0d1","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":810,"y":700,"wires":[["db2e5ea3.ed84"]]},{"id":"2672a340.075b0c","type":"change","z":"fd589d14.7b0d1","name":"pay to msg.filename","rules":[{"t":"move","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":760,"wires":[["4757d887.183fc8"]]},{"id":"f4caf68a.661d88","type":"inject","z":"fd589d14.7b0d1","name":"/home/pi/Pictures/off.png","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/pi/Pictures/pic_42959104-1bae-4a51-bc46-b9e58197501c.jpg","payloadType":"str","x":380,"y":760,"wires":[["2672a340.075b0c"]]},{"id":"db2e5ea3.ed84","type":"base64","z":"fd589d14.7b0d1","name":"","action":"str","property":"payload","x":1010,"y":700,"wires":[["3a1bff0b.55d3c"]]},{"id":"d367f02d.1a915","type":"ui_template","z":"fd589d14.7b0d1","d":true,"group":"c39cfd51.14f1c","name":"","order":1,"width":"6","height":"6","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1280,"y":960,"wires":[[]]},{"id":"e028f54c.04ef08","type":"inject","z":"fd589d14.7b0d1","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":880,"wires":[[]]},{"id":"a7aa45a2.d69618","type":"file in","z":"fd589d14.7b0d1","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":790,"y":960,"wires":[["57acede7.c7f784"]]},{"id":"a06c37d0.3cdd58","type":"change","z":"fd589d14.7b0d1","name":"pay to msg.filename","rules":[{"t":"move","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1020,"wires":[["a7aa45a2.d69618"]]},{"id":"44f5a08.0e07e6","type":"inject","z":"fd589d14.7b0d1","name":"/home/pi/Pictures/off.png","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/pi/Pictures/pic_1d7018d3-c627-4be6-949e-8fab28212cb8.jpg","payloadType":"str","x":360,"y":1020,"wires":[["a06c37d0.3cdd58"]]},{"id":"57acede7.c7f784","type":"base64","z":"fd589d14.7b0d1","name":"","action":"str","property":"payload","x":990,"y":960,"wires":[["d367f02d.1a915"]]},{"id":"b183b638.ac8828","type":"http request","z":"fd589d14.7b0d1","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"192.168.1.39:5984/detection_chat/_design/Chat_Non_detected/_view/new-view?key=\"2021-6-26\"","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":1120,"wires":[["a61f91e7.69195","17613665.5bc4aa"]]},{"id":"dab295.6e14ed68","type":"inject","z":"fd589d14.7b0d1","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":70,"y":1120,"wires":[["b183b638.ac8828"]]},{"id":"a61f91e7.69195","type":"debug","z":"fd589d14.7b0d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1080,"wires":[]},{"id":"f3ac7465.bc17c8","type":"function","z":"fd589d14.7b0d1","name":"","func":"id_compteur=flow.get('id_image')|| 0;;\nvar data=msg.payload.rows[id_compteur];\nmsg.payload='/home/pi/Pictures/'+data.value;\nmsg.topic=data.id;\n\nid_compteur=id_compteur+1;\nflow.set('id_image',id_compteur);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1180,"wires":[["920a9da1.edeea","c3528021.5bad","3c609f67.56a31","6d1a6b30.1be864","2357bd3c.7efae2"]]},{"id":"920a9da1.edeea","type":"change","z":"fd589d14.7b0d1","name":"pay to msg.filename","rules":[{"t":"move","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1200,"wires":[["595b84f3.124c3c","9de3996a.b41a18"]]},{"id":"8080bd2d.7e70a","type":"base64","z":"fd589d14.7b0d1","name":"","action":"str","property":"payload","x":1340,"y":1200,"wires":[["3fd964e8.8ee48c"]]},{"id":"3fd964e8.8ee48c","type":"ui_template","z":"fd589d14.7b0d1","group":"c39cfd51.14f1c","name":"","order":1,"width":"6","height":"6","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1500,"y":1200,"wires":[[]]},{"id":"46f64611.4defc8","type":"ui_chart","z":"a5513d5d.50f5b","name":"","group":"841ddfa0.272738","order":1,"width":15,"height":9,"label":"Activation fontaine","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2050,"y":2480,"wires":[[]]},{"id":"9e2a0735.fb3ed8","type":"ui_button","z":"fd589d14.7b0d1","name":"Chat_present","group":"c39cfd51.14f1c","order":4,"width":"3","height":"1","passthru":false,"label":"Chat_present","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"json","topic":"chat_present","topicType":"str","x":800,"y":1660,"wires":[["52239517.549cdc","be1fee18.c12a3"]]},{"id":"52239517.549cdc","type":"debug","z":"fd589d14.7b0d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":1580,"wires":[]},{"id":"595b84f3.124c3c","type":"file in","z":"fd589d14.7b0d1","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1190,"y":1200,"wires":[["8080bd2d.7e70a"]]},{"id":"7104b52e.d6162c","type":"file in","z":"fd589d14.7b0d1","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":600,"y":900,"wires":[[]]},{"id":"9de3996a.b41a18","type":"debug","z":"fd589d14.7b0d1","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1260,"wires":[]},{"id":"17613665.5bc4aa","type":"function","z":"fd589d14.7b0d1","name":"","func":"var taille = msg.payload.rows.length;\nflow.set('compteur_max_image',taille);\n//flow.set('id_image',0);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1180,"wires":[["f3ac7465.bc17c8","1ba2c7c9.6e9978"]]},{"id":"9bcaf406.b5ca38","type":"ui_button","z":"fd589d14.7b0d1","name":"Chat_absent","group":"c39cfd51.14f1c","order":4,"width":"3","height":"1","passthru":false,"label":"Chat_absent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"chat_absent","topicType":"str","x":810,"y":1720,"wires":[["52239517.549cdc","be1fee18.c12a3"]]},{"id":"c3528021.5bad","type":"ui_text","z":"fd589d14.7b0d1","group":"c39cfd51.14f1c","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":1080,"wires":[]},{"id":"6d1a6b30.1be864","type":"http request","z":"fd589d14.7b0d1","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"192.168.1.39:5984/detection_chat/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1050,"y":1320,"wires":[["976a2f88.c81d1","fd2c174a.f55f48"]]},{"id":"976a2f88.c81d1","type":"debug","z":"fd589d14.7b0d1","name":"status_doc","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":1320,"wires":[]},{"id":"3c609f67.56a31","type":"debug","z":"fd589d14.7b0d1","name":"msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":1120,"wires":[]},{"id":"1ba2c7c9.6e9978","type":"debug","z":"fd589d14.7b0d1","name":"msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1240,"wires":[]},{"id":"be1fee18.c12a3","type":"function","z":"fd589d14.7b0d1","name":"","func":"var etat=null;\nvar d = new Date();\nif (msg.topic === \"chat_present\") {\n   etat=1;\n} \nif (msg.topic === \"chat_absent\") {\n   etat=0;\n} \nmsg.payload={\"etat\":etat,\n            \"date_validation\":d,\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1680,"wires":[["2357bd3c.7efae2"]]},{"id":"2357bd3c.7efae2","type":"join","z":"fd589d14.7b0d1","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":1580,"wires":[["6b9d7c42.81fa04","8c801c54.08dcd","67dbec54.69daf4"]]},{"id":"6b9d7c42.81fa04","type":"debug","z":"fd589d14.7b0d1","name":"status_doc","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":1560,"wires":[]},{"id":"fd2c174a.f55f48","type":"function","z":"fd589d14.7b0d1","name":"","func":"var data=msg.payload;\nmsg.payloadtosend ={\"_id\":data._id,\n            \"_rev\":data._rev,\n            \"filepath\":data.filepath,\n            \"filename\":data.filename,\n            \"classes\":data.classes,\n            \"catDetected\":data.catDetected,\n            \"compteur\":data.compteur,\n            \"date\":data.date,\n            }\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1460,"wires":[["2357bd3c.7efae2"]]},{"id":"c6c3527f.b7638","type":"couchdbinsert","z":"fd589d14.7b0d1","name":"","serverUrl":"http://127.0.0.1:5984","database":"detection_chat","x":2040,"y":1660,"wires":[]},{"id":"8c801c54.08dcd","type":"switch","z":"fd589d14.7b0d1","name":"","property":"compteur_image","propertyType":"flow","rules":[{"t":"gt","v":"id_image","vt":"flow"},{"t":"lte","v":"id_image","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":1460,"wires":[["f3ac7465.bc17c8"],[]]},{"id":"67dbec54.69daf4","type":"change","z":"fd589d14.7b0d1","name":"","rules":[{"t":"set","p":"payloadtosend","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":1640,"wires":[["c6c3527f.b7638"]]},{"id":"81142574.c9b1c8","type":"link in","z":"a5513d5d.50f5b","name":"In_Prise_Chat","links":["bd765449.8fea58"],"x":1615,"y":2480,"wires":[["cec7de41.e547e"]]},{"id":"bd765449.8fea58","type":"link out","z":"a5513d5d.50f5b","name":"Out_Prise_Chat","links":["81142574.c9b1c8","ae7720f4.acda"],"x":2265,"y":1020,"wires":[]},{"id":"29ad3cd0.642544","type":"link out","z":"a5513d5d.50f5b","name":"Out_Take_Photo","links":["6baf62c0.f5a63c"],"x":1095,"y":1780,"wires":[]},{"id":"6baf62c0.f5a63c","type":"link in","z":"a5513d5d.50f5b","name":"In_Prise_Photo","links":["29ad3cd0.642544"],"x":1615,"y":2660,"wires":[["63a36453.25320c"]]},{"id":"50048ac4.c8db74","type":"link in","z":"a5513d5d.50f5b","name":"In_Cat_Detected","links":["415d8309.680fac"],"x":1615,"y":2560,"wires":[["c9da4402.d219f8"]]},{"id":"415d8309.680fac","type":"link out","z":"a5513d5d.50f5b","name":"Out_Cat_Detected","links":["50048ac4.c8db74","578d8c70.67dd84"],"x":1615,"y":1720,"wires":[]},{"id":"3502a50e.ef91ca","type":"link out","z":"a5513d5d.50f5b","name":"Detection_Mouvement","links":["cddfccc2.b6f8f"],"x":685,"y":1120,"wires":[]},{"id":"cddfccc2.b6f8f","type":"link in","z":"a5513d5d.50f5b","name":"","links":["3502a50e.ef91ca"],"x":1555,"y":2840,"wires":[["391bc53d.2fc50a"]]},{"id":"1e5979b4.9471b6","type":"link out","z":"a5513d5d.50f5b","name":"Change_Rules","links":[],"x":1225,"y":1100,"wires":[]},{"id":"6831a637.4ca748","type":"link in","z":"a5513d5d.50f5b","name":"","links":[],"x":415,"y":2520,"wires":[["ca8e7aea.949e58"]]},{"id":"578d8c70.67dd84","type":"link in","z":"a5513d5d.50f5b","name":"In_Cat_Detected","links":["415d8309.680fac"],"x":415,"y":2640,"wires":[["9e18c1d.07e104"]]},{"id":"8746abe.b579258","type":"comment","z":"a5513d5d.50f5b","name":"Activation Fontaine si Mouvement","info":"","x":1440,"y":1040,"wires":[]},{"id":"8550ae38.55c35","type":"comment","z":"a5513d5d.50f5b","name":"Désactivation Fontaine si chat non detecté","info":"","x":1880,"y":1240,"wires":[]},{"id":"20441feb.73c61","type":"comment","z":"a5513d5d.50f5b","name":"Stockage dans BDD NoSQL CouchDB","info":"","x":1950,"y":1640,"wires":[]},{"id":"e9c243df.670d2","type":"comment","z":"a5513d5d.50f5b","name":"Connection Broker MQQT en attente détection mouvement ESP32","info":"","x":300,"y":1060,"wires":[]},{"id":"eb55733d.4781d","type":"comment","z":"a5513d5d.50f5b","name":"Entrée test, modèle d'inférence","info":"","x":280,"y":1360,"wires":[]},{"id":"450494e9.15db7c","type":"comment","z":"a5513d5d.50f5b","name":"Modèle d'inférence et critère si chat détecté","info":"","x":1240,"y":1740,"wires":[]},{"id":"782d66c7.c62268","type":"comment","z":"a5513d5d.50f5b","name":"Photo prise et la classe des objects détectés (entourés en rose)","info":"","x":1910,"y":1860,"wires":[]},{"id":"98a88a66.6a9358","type":"comment","z":"a5513d5d.50f5b","name":"Etat de la prise / Etat connexion au service","info":"","x":2080,"y":900,"wires":[]},{"id":"672feaab.f2fc14","type":"comment","z":"a5513d5d.50f5b","name":"Déclenchement Photo","info":"","x":900,"y":1700,"wires":[]},{"id":"ae7720f4.acda","type":"link in","z":"a5513d5d.50f5b","name":"","links":["bd765449.8fea58"],"x":435,"y":2440,"wires":[["b274e276.7c1a6"]]},{"id":"221b6b94.4ff7a4","type":"comment","z":"a5513d5d.50f5b","name":"Variable DASHBOARD","info":"","x":1730,"y":2360,"wires":[]},{"id":"4421c16.797c54","type":"comment","z":"a5513d5d.50f5b","name":"Analyse etat systeme","info":"","x":720,"y":2340,"wires":[]}]
