flows_V2.json
[{"id":"af0bc739.019dc8","type":"tab","label":"Detection CHat","disabled":false,"info":""},{"id":"5187f0b2.45b94","type":"mqtt in","z":"af0bc739.019dc8","name":"","topic":"Maison/ArriereCuisine/Mouvement","qos":"2","datatype":"auto","broker":"66fd3cfd.ee1554","nl":false,"rap":true,"rh":0,"x":400,"y":1120,"wires":[["659514f5.fcc79c","cfccbc0a.9c487","63a92109.d9dfe"]]},{"id":"659514f5.fcc79c","type":"debug","z":"af0bc739.019dc8","name":"Debug_MQQT_Message","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":770.9999923706055,"y":872.000020980835,"wires":[]},{"id":"af6fc737.4b02f8","type":"camerapi-takephoto","z":"af0bc739.019dc8","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"","x":920,"y":1620,"wires":[["69fca45d.b0a9dc","76b7910c.5896c"]]},{"id":"cfccbc0a.9c487","type":"delay","z":"af0bc739.019dc8","name":"Limiter_les_photos","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":1280,"wires":[["8bc06849.8072e8"]]},{"id":"29c9f893.ab9d98","type":"function","z":"af0bc739.019dc8","d":true,"name":"isObjectDetected","func":"let catDetected = false;\nlet compteur =0;\ncompteur=flow.get('compteur')||0;\n\nfor (let object of msg.payload) {\n    if (object.class === 'cat') {\n        catDetected = true;\n        compteur = 3;\n        break;\n    }\n}\n\nif (catDetected === false)\n{\n    compteur=compteur-1;\n}\n\nvar d = new Date();\n\nmsg.payload ={\n    \"filepath\" : msg.filepath,\n    \"filename\" : msg.filename,\n    \"classes\": msg.classes,\n    \"catDetected\": catDetected,\n    \"compteur\": compteur,\n    \"date\":d,\n    }\nflow.set('compteur',compteur);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1680,"wires":[[]]},{"id":"858d1152.54485","type":"comment","z":"af0bc739.019dc8","name":"Iteration PHOTO si Détection mouvement","info":"","x":1400,"y":1440,"wires":[]},{"id":"1e84a740.254189","type":"hue-bridge-node","z":"af0bc739.019dc8","name":"","bridge":"8de4f2e6.c211e","autoupdates":true,"skipglobalevents":false,"x":2410,"y":940,"wires":[["71071dd4.acc554"]]},{"id":"71071dd4.acc554","type":"hue-light","z":"af0bc739.019dc8","name":"Prise pour le chat","bridge":"8de4f2e6.c211e","lightid":"6","colornamer":false,"skipevents":false,"universalevents":false,"x":2670,"y":1040,"wires":[["23b69c0.e32a664","d821887c.d58d18"]],"outputLabels":["msg.status"]},{"id":"6269261c.72ed28","type":"fs-ops-delete","z":"af0bc739.019dc8","d":true,"name":"Delete","path":"filepath","pathType":"msg","filename":"filename","filenameType":"msg","x":1970,"y":2720,"wires":[[]]},{"id":"c1e143a5.5d024","type":"debug","z":"af0bc739.019dc8","name":"TriggerMessage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2060,"y":940,"wires":[]},{"id":"9d99947c.85a6c8","type":"function","z":"af0bc739.019dc8","name":"Nb_Photo","func":"value = flow.get('Nb_photo_prise')||0;\nvalue++;\nflow.set('Nb_photo_prise',value);\nreturn {payload : value};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2660,"wires":[["64577b32.0e7094"]]},{"id":"47a26a38.6d8574","type":"function","z":"af0bc739.019dc8","name":"Nb_detection_chat","func":"value = flow.get('Nb_détection_chat')||0;\n\nif (msg.payload.catDetected === true)\n{\n    value++;\n}\n\n\n\nflow.set('Nb_détection_chat',value);\nreturn {payload : value};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2560,"wires":[["1cdf118.24762ef"]]},{"id":"cdfcfc2f.c0e1d","type":"inject","z":"af0bc739.019dc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":1280,"wires":[["cfccbc0a.9c487"]]},{"id":"1cdf118.24762ef","type":"ui_chart","z":"af0bc739.019dc8","name":"Nb_detection_chat","group":"72677919.fa13b","order":2,"width":15,"height":9,"label":"Nb Detection Chat","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1975,"y":2560,"wires":[[]],"l":false},{"id":"fd239062.28d2f","type":"debug","z":"af0bc739.019dc8","name":"Debug_Tfjs_Detection_v2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"classes","statusType":"msg","x":1590,"y":1960,"wires":[]},{"id":"64577b32.0e7094","type":"ui_chart","z":"af0bc739.019dc8","name":"Nb_Photo","group":"841ddfa0.272738","order":2,"width":15,"height":9,"label":"Nb Activation photo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#57b757","#98df8a","#a64e4e","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2020,"y":2660,"wires":[[]]},{"id":"7776ebdc.8d2164","type":"function","z":"af0bc739.019dc8","name":"Temps_chat","func":"if (msg.payload.on===undefined) {\n    value=0;\n} else {\n    if (msg.payload.on===true) {\n        value=1;\n    }else{\n        value=0;\n    }\n}\nreturn {payload : value};\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is starte","finalize":"","libs":[],"x":1770,"y":2480,"wires":[["a67c8145.48032"]]},{"id":"228f423.10b18be","type":"change","z":"af0bc739.019dc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":1040,"wires":[["c1e143a5.5d024","71071dd4.acc554","e40fd5a.2e28528"]]},{"id":"19528ed9.000481","type":"function","z":"af0bc739.019dc8","name":"","func":"msg.payload=false;\nmsg.topic=\"DetectionChat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":1100,"wires":[["71071dd4.acc554"]]},{"id":"1f297009.86e52","type":"delay","z":"af0bc739.019dc8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":1200,"wires":[["af6fc737.4b02f8"]]},{"id":"c2e0c589.738ff8","type":"couchdbinsert","z":"af0bc739.019dc8","name":"","serverUrl":"http://127.0.0.1:5984","database":"detection_chat","x":2160,"y":1760,"wires":[]},{"id":"23b69c0.e32a664","type":"debug","z":"af0bc739.019dc8","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2930,"y":920,"wires":[]},{"id":"454abd0b.dd97e4","type":"image","z":"af0bc739.019dc8","name":"","width":160,"data":"image","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1540,"y":1780,"wires":[]},{"id":"69fca45d.b0a9dc","type":"tensorflowCoco","z":"af0bc739.019dc8","name":"","modelUrl":"http://localhost:1880/coco/model.json","scoreThreshold":"0.3","passthru":"bbox","lineColour":"magenta","x":1150,"y":1680,"wires":[["29c9f893.ab9d98","454abd0b.dd97e4","fd239062.28d2f","4ac6cd22.3e7934"]]},{"id":"d077b21c.9b2b4","type":"trigger","z":"af0bc739.019dc8","d":true,"name":"","op1":"PictureFileName","op2":"","op1type":"flow","op2type":"nul","duration":"250","extend":false,"overrideDelay":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1740,"y":2720,"wires":[["6269261c.72ed28"]]},{"id":"34ec2c04.e3fec4","type":"join","z":"af0bc739.019dc8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":2500,"wires":[["b6876f39.5f142"]]},{"id":"1ee19bf5.d60db4","type":"function","z":"af0bc739.019dc8","name":"Topic_Etat_fontainte","func":"msg.topic=\"EtatFontaine\";\nmsg.payload =msg.payload;\nmsg.complete;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2440,"wires":[["34ec2c04.e3fec4"]]},{"id":"b6876f39.5f142","type":"debug","z":"af0bc739.019dc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":2500,"wires":[]},{"id":"620a4395.77bc3c","type":"function","z":"af0bc739.019dc8","name":"","func":"msg.payload=msg.payload.catDetected;\nmsg.topic=\"DetectionChat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2640,"wires":[["ae2c5cf5.9407a"]]},{"id":"ae2c5cf5.9407a","type":"join","z":"af0bc739.019dc8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":2520,"wires":[["34ec2c04.e3fec4"]]},{"id":"d40d2ca2.2a52a","type":"function","z":"af0bc739.019dc8","name":"Nb_detection_mvt","func":"value = flow.get('Nb_detection_mvt')||0;\nvalue++;\nflow.set('Nb_detection_mvt',value);\nreturn {payload : value};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":2840,"wires":[["86d26cf0.7b731"]]},{"id":"86d26cf0.7b731","type":"ui_chart","z":"af0bc739.019dc8","name":"Nb_detection_mvt","group":"72677919.fa13b","order":1,"width":15,"height":9,"label":"Nb_detection_mvt","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#57b757","#98df8a","#a64e4e","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1990,"y":2840,"wires":[[]]},{"id":"a67c8145.48032","type":"ui_chart","z":"af0bc739.019dc8","name":"","group":"841ddfa0.272738","order":1,"width":15,"height":9,"label":"Activation fontaine","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2050,"y":2480,"wires":[[]]},{"id":"2b71c7c2.b5a178","type":"link in","z":"af0bc739.019dc8","name":"In_Prise_Chat","links":["d821887c.d58d18"],"x":1615,"y":2480,"wires":[["7776ebdc.8d2164"]]},{"id":"d821887c.d58d18","type":"link out","z":"af0bc739.019dc8","name":"Out_Prise_Chat","links":["2b71c7c2.b5a178","2ba839e5.970816"],"x":2865,"y":1040,"wires":[]},{"id":"76b7910c.5896c","type":"link out","z":"af0bc739.019dc8","name":"Out_Take_Photo","links":["acb70404.95dd38"],"x":1095,"y":1780,"wires":[]},{"id":"acb70404.95dd38","type":"link in","z":"af0bc739.019dc8","name":"In_Prise_Photo","links":["76b7910c.5896c"],"x":1615,"y":2660,"wires":[["9d99947c.85a6c8"]]},{"id":"9536fc9e.d6d27","type":"link in","z":"af0bc739.019dc8","name":"In_Cat_Detected","links":["72016a97.8f1c64"],"x":1615,"y":2560,"wires":[["47a26a38.6d8574"]]},{"id":"72016a97.8f1c64","type":"link out","z":"af0bc739.019dc8","name":"Out_Cat_Detected","links":["9536fc9e.d6d27","bdbc984f.bac868"],"x":1615,"y":1720,"wires":[]},{"id":"63a92109.d9dfe","type":"link out","z":"af0bc739.019dc8","name":"Detection_Mouvement","links":["c177b9a1.fe7e28"],"x":685,"y":1120,"wires":[]},{"id":"c177b9a1.fe7e28","type":"link in","z":"af0bc739.019dc8","name":"","links":["63a92109.d9dfe"],"x":1555,"y":2840,"wires":[["d40d2ca2.2a52a"]]},{"id":"e40fd5a.2e28528","type":"link out","z":"af0bc739.019dc8","name":"Change_Rules","links":[],"x":2105,"y":1120,"wires":[]},{"id":"94406ab7.5a5338","type":"link in","z":"af0bc739.019dc8","name":"","links":[],"x":415,"y":2520,"wires":[["ae2c5cf5.9407a"]]},{"id":"bdbc984f.bac868","type":"link in","z":"af0bc739.019dc8","name":"In_Cat_Detected","links":["72016a97.8f1c64"],"x":415,"y":2640,"wires":[["620a4395.77bc3c"]]},{"id":"1d73451.55cdbbb","type":"comment","z":"af0bc739.019dc8","name":"Activation Fontaine si Mouvement","info":"","x":1660,"y":1100,"wires":[]},{"id":"c6c50ef5.9734a","type":"comment","z":"af0bc739.019dc8","name":"Désactivation Fontaine si chat non detecté","info":"","x":2400,"y":1200,"wires":[]},{"id":"47ef9102.b3a0a","type":"comment","z":"af0bc739.019dc8","name":"Stockage dans BDD NoSQL CouchDB","info":"","x":2010,"y":1680,"wires":[]},{"id":"c74dc00c.f8e1a","type":"comment","z":"af0bc739.019dc8","name":"Connection Broker MQQT en attente détection mouvement ESP32","info":"","x":300,"y":1060,"wires":[]},{"id":"ec950d95.2ccdb","type":"comment","z":"af0bc739.019dc8","name":"Entrée test, modèle d'inférence","info":"","x":280,"y":1360,"wires":[]},{"id":"6dc7cc8c.d061b4","type":"comment","z":"af0bc739.019dc8","name":"Modèle d'inférence et critère si chat détecté","info":"","x":1240,"y":1740,"wires":[]},{"id":"2e957760.615868","type":"comment","z":"af0bc739.019dc8","name":"Photo prise et la classe des objects détectés (entourés en rose)","info":"","x":1910,"y":1860,"wires":[]},{"id":"3e294afb.b977c6","type":"comment","z":"af0bc739.019dc8","name":"Etat de la prise / Etat connexion au service","info":"","x":2680,"y":920,"wires":[]},{"id":"e7e047ee.d103e8","type":"comment","z":"af0bc739.019dc8","name":"Déclenchement Photo","info":"","x":900,"y":1700,"wires":[]},{"id":"2ba839e5.970816","type":"link in","z":"af0bc739.019dc8","name":"","links":["d821887c.d58d18"],"x":435,"y":2440,"wires":[["1ee19bf5.d60db4"]]},{"id":"c809bc08.bb3e9","type":"comment","z":"af0bc739.019dc8","name":"Variable DASHBOARD","info":"","x":1730,"y":2360,"wires":[]},{"id":"f3aa3c20.23e61","type":"comment","z":"af0bc739.019dc8","name":"Analyse etat systeme","info":"","x":720,"y":2340,"wires":[]},{"id":"8bc06849.8072e8","type":"change","z":"af0bc739.019dc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1580,"wires":[["dd578c1a.8f82b"]]},{"id":"b38c3744.9e6888","type":"switch","z":"af0bc739.019dc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1580,"wires":[["1b54daa0.1a6425","2ade1dce.c5eb02"],[]]},{"id":"2ade1dce.c5eb02","type":"change","z":"af0bc739.019dc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"},{"t":"set","p":"Autorisation_activation","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1480,"wires":[["af6fc737.4b02f8"]]},{"id":"dd578c1a.8f82b","type":"function","z":"af0bc739.019dc8","name":"Autorisation_Declenchement_Photo","func":"let compteur=0;\nlet First_Iteration=0;\nAutorisation_activation=flow.get('Autorisation_activation')||1;\nFirst_Iteration=flow.get('First_Iteration')||0;\ncompteur = flow.get('compteur')||0;\nif (Autorisation_activation === 1 ){\n    msg.payload=1;\n    compteur=2;\n    First_Iteration=1;\n}else{\n    msg.payload=0;\n}\nflow.set('compteur',compteur);\nflow.set('First_Iteration', First_Iteration);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nlet Autorisation_activation_init =0;\nAutorisation_activation_init=flow.get('Autorisation_activation')||0;\nAutorisation_activation_init=1;\nflow.set('Autorisation_activation', Autorisation_activation_init);\n","finalize":"","libs":[],"x":390,"y":1580,"wires":[["b38c3744.9e6888"]]},{"id":"1b54daa0.1a6425","type":"debug","z":"af0bc739.019dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1800,"wires":[]},{"id":"4ac6cd22.3e7934","type":"function","z":"af0bc739.019dc8","name":"isObjectDetected","func":"let catDetected = false;\nlet First_Iteration =0;\n\n//Collecte des données FirstMotion & compteur\nFirst_Iteration=flow.get('First_Iteration');\ncompteur=flow.get('compteur');\n\n\n// Critere detection chat et affectation compteur à 3 si chat\nfor (let object of msg.payload) {\n    if (object.class === 'cat') {\n        catDetected = true;\n        break;\n    }\n}\n\nif (First_Iteration===0){\n        msg.topic= 1;\n} else {\n    if (catDetected===false) {\n        msg.topic=0;\n    } else {\n        msg.topic=2;\n        First_Iteration=0;\n        // Sauvegarde des données persistances\n    }\n}\n\nvar d = new Date();\n// Construction des messages pour la base de données\nmsg.payload ={\n    \"filepath\" : msg.filepath,\n    \"filename\" : msg.filename,\n    \"classes\": msg.classes,\n    \"catDetected\": catDetected,\n    \"compteur\": compteur,\n    \"date\":d,\n    \"First_Iteration\" : First_Iteration,\n    \"Etat_Systeme\": msg.topic,\n    }\nflow.set('First_Iteration', First_Iteration);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1600,"wires":[["1a838a6d.00afa6","54ba9702.a7e4a8","c2e0c589.738ff8","72016a97.8f1c64"]]},{"id":"1a838a6d.00afa6","type":"switch","z":"af0bc739.019dc8","name":"","property":"payload.Etat_Systeme","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1650,"y":1560,"wires":[["228f423.10b18be"],["35d625f4.9b098a"],["ab0edc1.6f6f42"]]},{"id":"35d625f4.9b098a","type":"function","z":"af0bc739.019dc8","name":"ETAT_FONTAINE_ON","func":"compteur=flow.get('compteur');\n\nif (msg.payload.catDetected === false){\n    compteur=-1+compteur;\n} else {\n    compteur = 5;\n}\n// Sauvegarde des données persistances\nflow.set('compteur',compteur);\nmsg.payload=compteur;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1380,"wires":[["a3053f3c.f5299","4a815c6.559c8a4"]]},{"id":"ab0edc1.6f6f42","type":"function","z":"af0bc739.019dc8","name":"ETAT_FONTAINE_OFF","func":"compteur=flow.get('compteur');\n\ncompteur= compteur -1;\n// Sauvegarde des données persistances\nflow.set('compteur', compteur);\n\nmsg.payload= compteur;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":1580,"wires":[["396ff935.95c266","a3053f3c.f5299"]]},{"id":"a3053f3c.f5299","type":"debug","z":"af0bc739.019dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":1320,"wires":[]},{"id":"396ff935.95c266","type":"switch","z":"af0bc739.019dc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2150,"y":1580,"wires":[["93797a81.94ce88"],["d36cda09.29a458"]]},{"id":"d36cda09.29a458","type":"change","z":"af0bc739.019dc8","name":"","rules":[{"t":"set","p":"Autorisation_activation","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":1580,"wires":[[]]},{"id":"54ba9702.a7e4a8","type":"debug","z":"af0bc739.019dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":1500,"wires":[]},{"id":"93797a81.94ce88","type":"delay","z":"af0bc739.019dc8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":1320,"wires":[["af6fc737.4b02f8"]]},{"id":"4a815c6.559c8a4","type":"switch","z":"af0bc739.019dc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2030,"y":1280,"wires":[["1f297009.86e52"],["19528ed9.000481","d36cda09.29a458"]]},{"id":"b2e53e48.e1d8a","type":"comment","z":"af0bc739.019dc8","name":"Réinitialisation Possible de la prise de photo","info":"","x":2530,"y":1620,"wires":[]},{"id":"66fd3cfd.ee1554","type":"mqtt-broker","name":"Broker raspberry pi","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8de4f2e6.c211e","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.26","key":"wwp2Pyhvwu8WmgOl9QrtkuL8Ups-UnH2hOcTIMTq","interval":"3000","disableupdates":false},{"id":"72677919.fa13b","type":"ui_group","name":"Statut_Fontaine","tab":"9b62ae06.41df5","order":1,"disp":true,"width":15,"collapse":false},{"id":"841ddfa0.272738","type":"ui_group","name":"Activity_Fountain","tab":"9b62ae06.41df5","order":2,"disp":true,"width":15,"collapse":false},{"id":"9b62ae06.41df5","type":"ui_tab","name":"Nb_Detection_Chat","icon":"dashboard","order":2,"disabled":false,"hidden":false}]